* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


body {
    background: #212529;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background: #1c2024;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.left {
    font-size: 1.6rem;
}

nav ul {
    display: flex;
    justify-content: center;

}

nav ul li {
    list-style: none;
    margin: 0 23px;
    transition: all 0.2s;
}

a {
    text-decoration: none;
    color: white;

}

nav ul li:hover {
    transform: scale(1.5);
    color: lavender;
}

nav ul li a:hover {

    color: rgb(153, 153, 226);
}

.firstsection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 80px 0px;
}

.firstsection>div {
    width: 33%;
}

.leftsection {

    font-size: 3rem;

}

.leftsection .btn {

    padding: 12px;
    border-radius: 20px;
    outline: none;
    border: none;
    background: rgb(109, 255, 255);
    font-size: 1.2rem;
    cursor: pointer;

}

.leftsection .btn a {
    color: black;

}

.leftsection .btn:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

}



.rightsection img {
    width: 100%;
}

.blue {
    color: #34b4eb;
}

#element {
    color: #1af5d0;
}


#element::after {
    content: "|";
    animation: blink-caret 0.7s infinite;
    animation-delay: 1.5s;
    /* Delay the start of animation */
}

@keyframes blink-caret {

    from,
    to {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}


.secondsection {
    max-width: 80vw;
    margin: auto;
}

main hr {
    border: 0;
    background: #34b4eb;
    height: 1.9px;
    margin: 30px 84px;
}

.secondsection h1 {
    font-size: 1.9rem;
}

.grey {
    color: grey;
}

footer {

    background: #212529;
}

.footer {
    display: flex;

    padding: 23px 122px;
    justify-content: space-evenly;

}

.footer>div {
    width: 22.5%;
}

.footer ul {
    list-style: none;
    padding: 6px;
}

footer .footer-rights {
    color: grey;
    text-align: center;
    margin: 0 10px;
}



.skill {
    width: 600px;
    margin: 60px auto;
    color: #fff;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 10px;



}


.skill li {
    margin: 20px 0;
    padding: 10px;
    list-style: none;


}

.skill .bar {
    position: relative;
}

.bar {

    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.bar span {
    height: 20px;
    float: left;
    background: aqua;
    position: absolute;
    height: 100%;

    transition: width 2s;
}



.html {
    width: 90%;
    animation: html 3s;
}

.css {
    width: 40%;
    animation: css 3s;
}

.js {
    width: 60%;
    animation: js 3s;
}

@keyframes html {
    0% {
        width: 0%;

    }

    100% {
        width: 90%;
    }
}

@keyframes css {
    0% {
        width: 0%;

    }

    100% {
        width: 40%;
    }
}

@keyframes js {
    0% {
        width: 0%;

    }

    100% {
        width: 60%;
    }
}

.thirdsection {
    width: 90vw;
    margin: 60px auto;
    color: #fff;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 10px;



}

.projects {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.prjts {
    width: 232px;
    height: 350px;
    padding: 8px;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    cursor: pointer;


}

.prjts img {
    height: 50%;
    border-radius: 10px;
}

.prjts:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transform: scale(1.01);

}

.fourthsection {
    width: 70vw;
    margin: 60px auto;
    color: #fff;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 10px;



}

.hire-me a.button-hire-me {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;

}

.hire-me a.button-hire-me:hover {
    background-color: #555;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);


}


.container {
    width: 70vw;
    margin: 60px auto;
    color: #fff;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 10px;
    display: none;



}

.container>h1 {
    text-align: center;
}

.container a.responsive_ud {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;

}

.container a.responsive_ud:hover {
    background-color: #555;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);


}

.mobile_view {
    display: none;
}

/* Smartphones in portrait mode */
@media only screen and (max-width: 480px) {

    .pc_view,
    .firstsection,
    .secondsection,
    .thirdsection,
    .fourthsection,
    .footer,
    hr {
        display: none;
    }

    .container,
    .mobile_view {
        display: block;
    }
}

/* Smartphones in landscape mode */
@media only screen and (max-width: 767px) {

    /* CSS rules for smartphones in landscape mode */
    .pc_view,
    .firstsection,
    .secondsection,
    .thirdsection,
    .fourthsection,
    .footer,
    hr {
        display: none;
    }

    .container,
    .mobile_view {
        display: block;
    }
}


/* Tablets in portrait mode */
@media only screen and (min-width: 481px) and (max-width: 768px) {

    /* CSS rules for tablets */
    .pc_view,
    .firstsection,
    .secondsection,
    .thirdsection,
    .fourthsection,
    .footer,
    hr {
        display: none;
    }

    .container,
    .mobile_view {
        display: block;
    }
}

/* Tablets in landscape mode */
@media only screen and (min-width: 769px) and (max-width: 1024px) {

    /* CSS rules for tablets in landscape mode */
    .pc_view,
    .firstsection,
    .secondsection,
    .thirdsection,
    .fourthsection,
    .footer,
    hr {
        display: none;
    }

    .container,
    .mobile_view {
        display: block;
    }
}
